.box {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 150px auto; }
  .box .face {
    width: 240px;
    height: 240px;
    position: absolute; }
  .box .top {
    background-color: #0e89df;
    transform: rotate(45deg) skew(-15deg, -15deg); }
  .box .left {
    background-color: #fae48c;
    transform: rotate(15deg) skew(15deg, 15deg) translateX(-120px) translateY(240px); }
  .box .right {
    background-color: #9900CC;
    transform: rotate(-15deg) skew(-15deg, -15deg) translateX(120px) translateY(240px); }
